In [1]:
x = 10
a, b, c = 100, 200, 300

print(x)
print(a,b,c)

10
100 200 300

In [2]:
x =20
print(x)
print(a,b,c)

20
100 200 300

In [3]:
type(10)

int

In [4]:
type(3.6)

float

In [5]:
a+b

300

In [6]:
a*b

20000

In [7]:
a/b

0.5

In [8]:
a%b

100

In [9]:
a-b

-100

In [10]:
a = 2
b = 3

a^b

1

In [11]:
a = 2
b = 3

a**b

8

In [13]:
10//3 #몫만 가져옴

3

In [14]:
3 + 3.0

6.0

In [15]:
3.0 + 3 #실수의 범위가 크니까 결과값이 실수

6.0

In [21]:
a = 7
b = 3.0

c = a//b
d = a%b
e = a ** b

print(c)
print(d)
print(e)

2.0
1.0
343.0

In [25]:
mike = 80
judy = 75
sera = 100

a = (mike + judy + sera)

print(int(a/3))

85

In [26]:
1 == 1.0

True

In [28]:
True and False

False

In [29]:
True or False

True

In [32]:
num1 = input('입력1: ') #입력 데이터는 모두 문자형이다.
num2 = input('입력2: ')
num3 = input('입력3: ')
if int(num1) >= 65 and int(num2) >=  65 and int(num3) >= 65: #print(num1) >= 65 and int(num2) >=  65 and int(num3) >= 65)
    print(True)
else:
    print(False)

입력1: 20
입력2: 100
입력3: 100
False

In [37]:
x = None
print(x)
type(x)

None

NoneType

In [40]:
single = 'Hellooo'
print(single)
type(single)

Hellooo

str

In [41]:
multi = """ 
hello
my name is tom
"""
print(multi) #작따 큰따 차이 없음
type(multi)

hello
my name is tom

str

In [48]:
a = 'hello'
b = 'world'
print(a + b)
a*3

helloworld

'hellohellohello'

In [52]:
print('hello \n world')
print('hello \t world')
print('hello \\ world')

hello
 world
hello 	 world
hello \ world

In [56]:
quote = 'Manchster City!'
quote[1:3]
quote[1:5:7]

'a'

In [58]:
name= '숑이'
intro = '안녕하신가 난 %s 입니다.' 
print(intro % name)

안녕하신가 난 빈센트콤파니 입니다.

In [59]:
age = 3
intro = '내 나이는 %d이다.'
print(intro % age)

내 나이는 3이다.

In [64]:
height = 70.33
intro = '나의 신장은 %.1f cm 이다.' #근데 숑이 진짜 키가 어떻게 될까
print(intro % height)

나의 신장은 70.3 cm 이다.

In [67]:
#두개 이상
text = ' 난 %s 고, %d 번 태어났다' %('그루트', 2)
text

' 난 그루트 고, 2 번 태어났다'

In [71]:
text = ' 난 {0:<4} 고, {1} 번 태어났다'.format('그루트', 2)
text

' 난 그루트  고, 2 번 태어났다'

In [72]:
name = '그루트'
location = '모라그'
intro = f'저는 {name}이고 {location}에 삽니다'
intro

'저는 그루트이고 모라그에 삽니다'

In [79]:
a = "20190505Chicken19000"

year = a[:4]
month = a[4:6]
day = a[4:8]
menu = a[8:15]
money = a[15:]

print(year, month, day, menu, money)

2019 05 0505 Chicken 19000

In [85]:
a = '90:30:80'

math= a[:2]

eng = a[3:5]

sci = a[6:]


avg = (int(math) + int(eng) + int(sci))/3
print(avg)

90
30
80
66.66666666666667

In [87]:
quote = "My best career partner"


quote2 = 'holaaa'
len(quote2)

6

In [88]:
quote2.index('l')

2

In [91]:
upper_quote = quote .upper()
upper_quote

'MY BEST CAREER PARTNER'

In [92]:
upper_quote.lower()

'my best career partner'

In [93]:
quote.replace('best','worst')

'My worst career partner'

In [95]:
quote.count('e') #공백도 가능

4

In [96]:
quote =  "      " + quote
quote

'      My best career partner'

In [97]:
quote.strip() #공백제거 기억하기

'My best career partner'

In [100]:
lgt = '봉중근.박용택.정우영.이천웅.이병규'
lgt_list = lgt.split('.')
lgt_list

['봉중근', '박용택', '정우영', '이천웅', '이병규']

In [101]:
type(lgt_list)

list

In [102]:
lgt_list[0]

'봉중근'

In [103]:
len(lgt_list)

5

In [104]:
'.'.join(lgt_list)

'봉중근.박용택.정우영.이천웅.이병규'

In [107]:
a = "90:30:80 "
aa = a.lstrip()
a_list = aa.split(':')
a_list
math = a_list[0]
eng = a_list[1]
sci = a_list[2]

avg = (int(math) + int(eng) + int(sci)) / len(a_list)
avg

66.66666666666667

In [108]:
tuple_a = (1,2,3,'a')

In [109]:
type(tuple_a)

tuple

In [111]:
# list는 값을 수정 할 수 있지만, 튜플은 바꿀 수 없다.
lgt_list[0] = '윌슨'
lgt_list

['윌슨', '박용택', '정우영', '이천웅', '이병규']

In [112]:
dict_me = {
    'name': 'Ryan',
    'height': 100,
    'address' : 'kakao'
    
}
dict_me

{'name': 'Ryan', 'height': 100, 'address': 'kakao'}

In [113]:
dict_me['name']

'Ryan'

In [114]:
print ord("Z")

SyntaxError: invalid syntax (<ipython-input-114-cc8e635635f8>, line 1)

In [115]:
ord('z')

122

In [116]:
ord('A')

65

In [117]:
ord('a')

97

In [118]:
ord(67)

TypeError: ord() expected string of length 1, but int found

In [119]:
chr(97)

'a'

In [122]:
#문자열 곱하기는 반복된다. 

'빠큐빠큐'*5

'빠큐빠큐빠큐빠큐빠큐빠큐빠큐빠큐빠큐빠큐'

In [124]:
go_home = ['집', '에', '갈', '래']
no_jam = ('잼',2,'없','어')
no_jam

('잼', 2, '없', '어')

In [125]:
range(10)

range(0, 10)

In [132]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [133]:
b = ['a', 'b', 'c']
a = ['d', 'e', 'f']
b + a

['a', 'b', 'c', 'd', 'e', 'f']

In [134]:
'd' in a

True

In [135]:
'a' in a

False

In [136]:
empty_list = []

In [137]:
empty_list.append('追加')
empty_list

['追加']

In [141]:
empty_list.append()
empty_list

['追加', 3]

In [143]:
empty_list_pop=empty_list.pop()
empty_list

[]

In [144]:
empty_list.append(1)

In [145]:
empty_list

[1]

In [147]:
empty_list.extend([2,3,4]) #리스트를 추가, 자신의 값이 바뀐다. 
empty_list

[1, 2, 3, 4]

In [148]:
empty_list.extend(lgt_list)

In [149]:
empty_list

[1, 2, 3, 4, '윌슨', '박용택', '정우영', '이천웅', '이병규']

In [150]:
empty_list.insert(3,100)
empty_list

[1, 2, 3, 100, 4, '윌슨', '박용택', '정우영', '이천웅', '이병규']

In [151]:
empty_list.remove(100) #같은 값이 있을 때 앞부터 삭제
empty_list

[1, 2, 3, 4, '윌슨', '박용택', '정우영', '이천웅', '이병규']

In [152]:
empty_list.index('윌슨')

4

In [153]:
a = [1, 2, 3, 4, 5, 3, 2]
a.count(2)

2

In [154]:
a.reverse()
a

[2, 3, 5, 4, 3, 2, 1]

In [155]:
a.sort(reverse = True)
a

[5, 4, 3, 3, 2, 2, 1]

In [156]:
a.sort(reverse = False)
a

[1, 2, 2, 3, 3, 4, 5]

In [157]:
a = 1
b = 1
a is b

True

In [158]:
list_a=[1,2,3,4]
list_b = list_a
list_b

[1, 2, 3, 4]

In [159]:
list_b[2] = 5
list_b
list_a

[1, 2, 5, 4]

In [160]:
list_a is list_b

True

In [164]:
list_b = list_a.copy()
list_b[2] = 10

list_a is list_b

False

In [162]:
list_a

[1, 2, 5, 4]

In [165]:
list_b

[1, 2, 10, 4]

In [170]:
a = {
    'name' :'Thor',
    'eng' :100,
    'math' : 50
    
}
print(a)

{'name': 'Thor', 'eng': 100, 'math': 50}

In [171]:
type(a)

dict

In [169]:
list(a)

['name', 'eng', 'math']

In [187]:
b = dict(name = 'Chris', eng = 80, math = 99)
b

{'name': 'Chris', 'eng': 80, 'math': 99}

In [173]:
type(b)

dict

In [174]:
name in b

False

In [175]:
'name' in b

True

In [176]:
b['name']

'Chris'

In [177]:
a = b

In [182]:
a is b

False

In [183]:
len(b)

3

In [189]:
b['sci'] = 100 #딕셔너리는 키값으로 접근한다.
b

{'name': 'Chris', 'eng': 80, 'math': 99, 'sci': 100}

In [3]:
my_tuple = (1 ,2 ,3 ,4 ,5)
type(my_tuple)

tuple

In [6]:
my_tuple2 = (5,) #튜플안에 정수가 하나면 정수형, 튜플형으로 하고싶으면 뒤에 콤마를 붙인다.
type(my_tuple2)

tuple

In [28]:
a = 1
b = 2

2

In [26]:
a *= 4
print(a)

512

In [29]:
#range(시작, 끝, 폭)
from pprint import pprint #pretty print 어떤 구조로 데이터가 저장되어있는지 확인 할 때 많이 사용

In [30]:
a = list(range(5))
a

[0, 1, 2, 3, 4]

In [31]:
b = a

In [32]:
b[0] = 5

In [33]:
b

[5, 1, 2, 3, 4]

In [34]:
a

[5, 1, 2, 3, 4]

In [35]:
a = list(range(5))
a

[0, 1, 2, 3, 4]

In [36]:
b = a.copy()
b

[0, 1, 2, 3, 4]

In [39]:
b[0] = 5
print(a)
print(b)

[0, 1, 2, 3, 4]
[5, 1, 2, 3, 4]

In [40]:
a = [[1, 2] , [3, 4], [5, 6]]
a[2][0]

5

In [43]:
my_dog = {
    'name' :'심숑',
    'specific' : '비숑프리제',
    'age' : 3,
    'color': 'White',
    'Weight': 6
    
    
}
print(my_dog)

{'name': '심숑', 'specific': '비숑프리제', 'age': 3, 'color': 'White', 'Weight': 6}

In [44]:
my_dog.values()

dict_values(['심숑', '비숑프리제', 3, 'White', 6])

In [45]:
list(my_dog)

['name', 'specific', 'age', 'color', 'Weight']

In [46]:
my_dog.items() #키,밸류를 쌍으로 튜플형식으로 바꿈
#print시 키가 없으면 Key Error발생 ->get으로 부르기 get('key', ''없을시 들어갈 값)

dict_items([('name', '심숑'), ('specific', '비숑프리제'), ('age', 3), ('color', 'White'), ('Weight', 6)])

In [47]:
height = my_dog.get('height', 70) 
height

70

In [48]:
my_dog

{'name': '심숑', 'specific': '비숑프리제', 'age': 3, 'color': 'White', 'Weight': 6}

In [49]:
my_dog.setdefault('height', 70)

70

In [50]:
my_dog

{'name': '심숑',
 'specific': '비숑프리제',
 'age': 3,
 'color': 'White',
 'Weight': 6,
 'height': 70}

In [52]:
my_dog.pop('height') #pop은 지우면서 꺼낸다

70

In [53]:
my_dog

{'name': '심숑', 'specific': '비숑프리제', 'age': 3, 'color': 'White', 'Weight': 6}

In [54]:
a = {}
type(a) #Set은 반드시 요소가 있어야한다.

dict

In [56]:
a = {1, 2, 3}
b = set({3, 4, 5, 5, 5, 5}) # set은 중복이 없음

In [73]:
s1 = {1, 2, 3}
s2  = {3, 4, 5}

In [63]:
# 교집합
print(s1 & s2)
print(s1.intersection(s2))

{3}
{3}

In [65]:
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [66]:
s1

{1, 2, 3}

In [67]:
s1.add(5)

In [72]:
s1

{1, 3, 5}

In [74]:
s1.remove(2)
s1

{1, 3}

In [76]:
s1.discard(1)
s1

{3}

In [83]:
a = 10
if a == 10:
    pass
   # print('pass')

In [84]:
l1 = []
if l1:
    print('Empty?')
if not l1:
    print('Empty!!')

Empty!!

In [85]:
if None:
    print('nononono')

In [87]:
str_1 = 'stringstring'
if type(str_1) == 'str':
    print('str_1 is String type')

In [90]:
a = 10
b = 10
result = (a-b) if a == b else (a+b)  
result

0

In [102]:
a = int(input())
b =int(input())
c = int(input())

if (a < 0 or a > 100) or ( b< 0 or b > 100) or ( c < 0 or c > 100):
    print('Wrong score')
else:
    if a > 65 and b > 65 and c > 65:
        print('Pass')
    else:
        print('Fail')

-4
90
100
Wrong score

In [117]:
num1 = int(input("insert number: "))

if num1 %2 ==1 :
    print(str(num1) + " is Odd number")
elif num1 == 0 :
    print(str(num1) + " is 애매")
else:
    print(str(num1)+ " is Even Number")

insert number0
0 is 애매

In [139]:
num = int(input("정수를 입력하세요: "))

for i in range(1, num + 1, 1):
    print('*' * i)

정수를 입력하세요: 5
*
**
***
****
*****

In [141]:
num = int(input("정수를 입력하세요: "))

for i in range(num , 0, -1):
    print('*' * i)

정수를 입력하세요: 5
*****
****
***
**
*

In [144]:
#enumerate? 리스트의 인덱스까지 같이 출력
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
for idx, value in enumerate(a):
    print(idx, value)

0 a
1 b
2 c
3 d
4 e
5 f
6 g

In [147]:
for i in range(10):
    print('=' * 10)
    
    print(i, '번 째 루프')
    
    print('-' * 10)
    for j in range(0 , 10 , 2):
        print('j: ' ,j)

==========
0 번 째 루프
----------
j:  0
j:  2
j:  4
j:  6
j:  8
==========
1 번 째 루프
----------
j:  0
j:  2
j:  4
j:  6
j:  8
==========
2 번 째 루프
----------
j:  0
j:  2
j:  4
j:  6
j:  8
==========
3 번 째 루프
----------
j:  0
j:  2
j:  4
j:  6
j:  8
==========
4 번 째 루프
----------
j:  0
j:  2
j:  4
j:  6
j:  8
==========
5 번 째 루프
----------
j:  0
j:  2
j:  4
j:  6
j:  8
==========
6 번 째 루프
----------
j:  0
j:  2
j:  4
j:  6
j:  8
==========
7 번 째 루프
----------
j:  0
j:  2
j:  4
j:  6
j:  8
==========
8 번 째 루프
----------
j:  0
j:  2
j:  4
j:  6
j:  8
==========
9 번 째 루프
----------
j:  0
j:  2
j:  4
j:  6
j:  8

In [178]:
x = [3, 6, 9, 20, -7, 6]

for i in range(0,len(x),1):
    print(x[i] * 10)

for idx, val in enumerate(x):
    x[idx] *= 10
x

30
60
90
200
-70
60

[30, 60, 90, 200, -70, 60]

In [255]:
y = {"math": 70, "science": 80, "english": 20}
k = y.values()
for i in list(k):
    print(i + 10)

for idx, val in enumerate(hi):
    y[hi[idx]] += 10
y 

print('--------Answer--------------')
#딕셔너리의 for문은 키값을 가져온다.

for i in y:
    y[i] += 10
    print(y[i])
y

80
90
30
--------Answer--------------
80
90
30

{'math': 80, 'science': 90, 'english': 30}

In [175]:
num = int(input('숫자 입력ㄲ: '))

for i in range(1,10):
    print('{}*{} = {}'.format(num , i, i * num))

숫자 입력ㄲ: 2
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18

In [203]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountain' ]
new_word = []

for i in word:
    if len(i) >= 6 :
        new_word.append(i)
        
new_word

['school', 'science', 'mountain']

In [235]:
num = range(1,10)
for i in num:
    print('\n {}단'.format(i))
    for j in range (1,10):
        print('{} * {} = {}'.format(i, j, i*j))

 1단
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

 2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

 3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

 4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

 5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

 6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

 7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

 8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

 9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [273]:
num = int(input('숫자 하나 써봐: '))

for i in range(1, num+1):
    if i % 3 == 0 and i % 5 == 0:
        print('{}-> 3과 5의 공배수'.format(i))
        print('-----------------------------')
    elif i % 3 == 0:
        print('{}-> 3의 배수'.format(i))
        print('-----------------------------')
    elif i % 5 == 0:
        print('{}-> 5의 배수'.format(i))
        print('-----------------------------')
    else:
        print(i)

숫자 하나 써봐: 40
1
2
3-> 3의 배수
-----------------------------
4
5-> 5의 배수
-----------------------------
6-> 3의 배수
-----------------------------
7
8
9-> 3의 배수
-----------------------------
10-> 5의 배수
-----------------------------
11
12-> 3의 배수
-----------------------------
13
14
15-> 3과 5의 공배수
-----------------------------
16
17
18-> 3의 배수
-----------------------------
19
20-> 5의 배수
-----------------------------
21-> 3의 배수
-----------------------------
22
23
24-> 3의 배수
-----------------------------
25-> 5의 배수
-----------------------------
26
27-> 3의 배수
-----------------------------
28
29
30-> 3과 5의 공배수
-----------------------------
31
32
33-> 3의 배수
-----------------------------
34
35-> 5의 배수
-----------------------------
36-> 3의 배수
-----------------------------
37
38
39-> 3의 배수
-----------------------------
40-> 5의 배수
-----------------------------

In [ ]:
#dir() -> 속성확인

In [287]:
i = 0
list_1 = []
while i != 's':
    i = input('값을 입력해 주세요: ')
    list_1.append(i)
    print(list_1)

값을 입력해 주세요: ㄴ
['ㄴ']
값을 입력해 주세요: s
['ㄴ', 's']

TypeError: list indices must be integers or slices, not str